target :'ruby2.staging', 'johnd0@ruby1.staging.biola.edu:/srv/rack/trogdir-api',  rails_env: 'staging'
target :'ruby3a.prod',   'johnd0@ruby3a.prod.biola.edu:/srv/rack/trodgir-api',    rails_env: 'production'
target :'ruby3b.prod',   'johnd0@ruby3b.prod.biola.edu:/srv/rack/trogdir-api',    rails_env: 'production'

env_scripts '/etc/profile'
