development:
  clients:
    default:
      database: trogdir_development
      hosts:
        - localhost:27017

test:
  clients:
    default:
      database: trogdir_test
      hosts:
        - localhost:27017

staging:
  clients:
    default:
      database: trogdir
      hosts:
        - mongo1.staging.biola.edu:27017
        - mongo2.staging.biola.edu:27017
        - mongo3.staging.biola.edu:27017
      options:
        user: trogdir
        password: "*************"

production:
  clients:
    default:
      database: trogdir
      hosts:
        - mongo1.prod.biola.edu:27017
        - mongo2.prod.biola.edu:27017
        - mongo3.prod.biola.edu:27017
      options:
        user: trogdir
        password: "*************"
